* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: block !important;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eae5d2;
  text-align: center;
}

:global(#container) {
  width: 100%;
  text-align: left;
}

:global(.contentContainer){
  max-width: 2100px;
  margin: 0 auto;
  /*padding: 0 20px;*/
  text-align: left;
  position: relative;
  top: 0;
  background-color: #eae5d2;
}

:global(.headerWrapper){
  margin: 0%;
  transition: background-color 1.3s;
}

:global {

  .headerWrapper--contact.animate{
    background-color: #FA393F;
  }
  .headerWrapper--about.animate{
    background-color: #67bfb2;
  }
  .headerWrapper--work.animate{
    background-color: #894cab;
  }
  .animate {
    animation: expand 1s ease-in-out forwards;
/*    & [class*="logo"] {
      display: none;
    }*/
  }
  .tagline{
    font-size: 2.25rem;
    color: inherit;
    margin: 30px 0;
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    color: #eae5d2;
    display: inline;
    background: rgba(255, 255, 255, .15);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: 1.5625rem;
    line-height: 1.85;
    padding: 0.2rem;
  }
  .pageHead{
    font-size: 6.25rem;
    color: inherit;
    margin: 20px 0 50px 0;
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    color: #eae5d2;
    line-height: 5.5rem;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.75);
  }

  .contentHead{
    font-size: 1.15rem;
    color: inherit;
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    color: #eae5d2;
    display: inline;
    background: rgba(255, 255, 255, .15);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 1.85;
    padding: 0.2rem;
  }

  .contentListHead{
    font-size: 2.15rem;
    line-height: 2rem;
    padding: 20px 0 10px 0;
    margin: 0;
    font-weight: normal;
    font-family: 'Francois One', sans-serif;
  }

  .contentBlock{
    margin: 10px 0 50px 0;
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.75);
  }
  .contentLeft{
    width: 65%;
    padding: 0 5% 0 0;
    float: left;
  }
  .contentRight{
    width: 30%;
    padding: 0px 10px 10px 10px;
    float: left;
    background: rgba(255, 255, 255, .1);
    margin: 0 0 30px 0;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
  }

  .contentItem{
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        position: relative;
        padding: 0 0 0 26px;
        line-height: 30px;
    }
    &__link{
      text-decoration: none;
      font-family: Arial, sans-serif;
      color: #fff;
    }
    &__item--contact{
      line-height: 30px;
    }
    &__item:before {

        width: 13px;
        height: 13px;
        content: " ";
        display: block;
        border: 1px solid #eae5d2;
        left: 0;
        top: 8px;
        position: absolute;
        z-index: 1;
    }
    &__item:after {
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      width: 12px;
      height: 4px;
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
      content: " ";
      display: block;
      left: 4px;
      top: 8px;
      position: absolute;
      z-index: 2;
    }
  }
  @media (max-width: 600px) {
    .contentLeft, .contentRight{
      width: 100%;
      float: none;
    }
    .contentBlock{
      margin: 20px 0 30px 0;
      line-height: 1.3rem;
      font-size: .9rem;
    }
    .pageHead{
      font-size: 4.5rem;
      line-height: 4rem;
    }
  }
  @media (max-width: 960px) {
    .tagline{
      font-size: 1.3em;
    }
  }
}

/*@keyframes :global(expand) {
    0% {
      margin: 0%;
      height: 100vh;
      width: 100%;
    }
    70% {
      margin: 6%;
      height: 80vh;
      width: 88%;
    }
    80% {
      margin: 5%;
      height: 82vh;
      width: 90%;
    }
    90% {
      margin: 6%;
      height: 80vh;
      width: 88%;
    }
    100% {
      margin: 0%;
      height: 100vh;
      width: 100%;
    }
}*/

@keyframes :global(expand) {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      border-radius: 0px;
      height: 100vh;
    }
    70% {
      -webkit-transform: scale(.02, .15);
      transform: scale(.02, .05);
      border-radius: 2000px;
      height: 100vh;
    }
    80% {
      -webkit-transform: scale(.75, .95);
      transform: scale(.75, .95);
      border-radius: 2000px;
      height: 100vh;
    }
    90% {
      -webkit-transform: scale(.75, .75);
      transform: scale(.75, .75);
      border-radius: 50px;
      height: 100vh;
    }
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      border-radius: 0px;
      height: 100vh;
      width: 100%;
    }
}
